/* * {
    margin: 0;
    padding: 0;
} */

body, html {
    width: 100%;
    height: 100vh;
}

.gallery img {
    width: 100%;
}

h4 {
    color: cornflowerblue;
    font-family: fantasy;
    font-style: italic;
    font-size: 1.5rem;
}